.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.default-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #999;
}

.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-details p {
    margin: 10px 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.edit-button-container {
    text-align: center;
    margin-top: 20px;
}
